* {
     margin:0px;
     padding: 0px;
}


header
{    text-align: left;
     background-color: cadetblue;
     margin: 20px;  
}

.pbbruna
{
       text-align: center;
       font-size: 75px;
       color: cadetblue;
}

.pblucas
{
      text-align: center;
      font-size: 75px;
      color: cadetblue;
}


.textoap
{
    text-align:center;
    font-size:20px; 
}

.imgs
{
    display: inline-block;
    padding: 2px;
    border: 4px double cadetblue;
}


.gridcontainer
{
     display: grid;
     grid-template-columns: auto;   
}


.gitem
{
     padding: 30px; 
     text-align: center;
     font-size: 20px;
     color: cadetblue;
}


.textoiq
{
     text-indent: 20px;
     color: black;
}


.nomet
{
     color: cadetblue;
     text-align: right;
}

.redessociais
{
     text-align: center;
     font-size: 25px;
}

.redeb > p 
{
      font-size: 20px;
      text-align: center;
}

.redel > p
{
      font-size: 20px;
      text-align: center;     
}

.fa-instagram
{
        color: cadetblue;
        font-size: 50px;      
}


.fa-twitter
{
     color: cadetblue;
     font-size: 50px; 
}


.fa-github
{
     color: cadetblue;
     font-size: 50px;
}  

.fa-whatsapp 
{
      color: cadetblue; font-size: 50px; 
}


.fa-facebook
{
      color: cadetblue; font-size: 50px; 
}

.fa-instagram :hover{
     background-color: black;
}