* {
     margin:0 
}


header{
     text-align: left;
     background-color: white;
     margin: 25px;  
}


.pbbruna{
       text-align: center;
       font-size: 75px;
}


.pblucas{
      text-align: center;
      font-size: 75px;
}


.textoap{
    text-align:left;
    font-size:20px;   
}


.gridcontainer{
     display: grid;
     grid-template-columns: auto;
     padding: 0px;   
}


.gitem{
     border: 1px solid rgba(7, 6, 6, 0.8);
     padding: 30px; 
     text-align: center;
     font-size: 20px;
}


.textoiq{
     text-indent: 20px;
}


.nomet{
     color: rgb(24, 93, 221);
     text-align: right;
}


















